</div> <!-- container open in index.html -->
<footer class="container footer">
	<hr />
	<p><small>Chief Librarian: Las Zenow &lt;zenow@riseup.net&gt;<br />
	   Fork the source code from <a href="https://gitlab.com/trantor">gitlab</a></small>.</p>
</footer>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
